<footer class="main-footer">
    @*@using WebAppQLKhachHang.ClassCommon
    Tên công ty:<span class="text-danger"> @Html.RenderCompanyName()</span> -Tên csdl:<span class="text-danger"> @Html.RenderDataName()</span><br />*@
    <strong>Copyright &copy; 2020 <a href="https://thienphong.net" target="_blank">thienphong.net</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>