<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Chọn khổ giấy in</h3>
                    <div class="card-tools">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- select kho giay -->
                                    <div class="input-group input-group-sm">
                                        <label>Chọn khổ giấy in mặt định</label>
                                        <div class="input-group">
                                            <select id="pageSize_id" name="pageSize_id" class="form-control form-control-sm">
                                                <option value="KhoGiay80">Khổ giấy - 8.0 cm</option>
                                                <option value="KhoGiay80_01">Khổ giấy 01 - 8.0 cm</option>
                                                <option value="KhoGiay80_02">Khổ giấy 02 - 8.0 cm</option>
                                                <option value="KhoGiay58">Khổ giấy - 5.8 cm</option>
                                                <option value="KhoGiay58_01">Khổ giấy 01 - 5.8 cm</option>
                                                <option value="KhoGiay58_02">Khổ giấy 02 - 5.8 cm</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="card-footer">
                <button type="button" id="btn_savePageSize" name="btn_savePageSize" class="btn btn-primary"><i class="fas fa-save"></i> Lưu</button>
                <button type="submit" data-dismiss="modal" class="btn btn-default float-right">Đóng</button>
            </div>
        </div>
    </div>
</div>
