
<div class="modal-dialog">
    <div class="lockscreen-image">
        <img src="~/AdminLTE310/dist/img/modal-icon.png" alt="message" class="profile-user-img img-fluid img-circle" style="opacity: .8">
    </div>
    <div class="modal-content text-center">
        <div class="card-header">
            <h3 class="card-title">&emsp;&emsp;&emsp;Thông báo</h3>
        </div>
        <div class="modal-body">
            <h6 id="thongbao">@TempData["thongbao"]</h6>
        </div>
        <div class="card-footer ">
            <button type="submit" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-times"></i> Đóng</button>
        </div>
    </div>
</div>


