<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Thông tin bản quyền</h3>
                    <div class="card-tools">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <form id="BanQuyen" name="BanQuyen" class="form-horizontal">
                <div class="modal-body">
                    <h3 class="text-center">Chương trình quản lý Bán hàng</h3>
                    <p>Sản phẩm được cấp bản quyền sử dụng cho:<br />Tên công ty: <span id="spTenCty"></span><br />Địa chỉ: <span id="spAddress"></span><br />Ngày cấp: <span id="spDateCap"></span> - Ngày hết hạn: <span id="spDateHetHan"></span></p>

                </div>
                <div class="card-footer">
                    <button type="submit" data-dismiss="modal" class="btn btn-default float-right">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>



